<h4>server error refresh page to load again</h4>

<ng-container *ngIf="error">
    <h5 class="text-danger">Error:{{error.message}}</h5>
    <p class="font-weight-bold">Note: if you are seeing this then probebley angular not to blame</p>
    <p>what you do next?</p>
    <ol>
        <li>open the chrome dev tool</li>
        <li>inspect the network tap</li>
        <li>check the failing request</li>
        <li>examin the requested URL- check it correct or not</li>
        <li>Reproduce the postman if you see the same response then the issue is not with angular</li>
    </ol>
    <p>folling is the stack trace- this is where your investigation strt</p>
    <code class="mt-5"style="background-color:whitesmoke;">{{error.details}}</code>


</ng-container>
