<div  class ="row" *ngIf="member" >
    <div class="col-4">
        <div class="card">
            <img src="{{member?.photoUrl|| './assets/user.png'}}" alt="{{member?.knowAs}}"
             class="card-img-top img-thumbnail">

             <div class="card-body">
                 <div>
                     <strong> Location:</strong>
                     <p>{{member?.city}},{{member?.country}}</p>
                 </div>
                 <div>
                    <strong>Age </strong>
                    <p>{{member?.age}}</p>
                </div>
                <div>
                  <strong>Last Active:</strong>
                  <p>{{member?.lastActive | timeago }}</p>
              </div>
                <div>
                    <strong>Created at</strong>
                    <p>{{member?.created | date: 'dd MMMM yyyy'}}</p>
                </div>
             </div>
             <div class="card-footer">
                 <div class="btn-group d-flex">
                     <button class="btn btn-primary">Like</button>
                     <button class="btn btn-success">Message</button>
                 </div>
             </div>
             
            
        </div>
    </div>
    <div class="col-8">

        <ul ngbNav #nav="ngbNav"  class="nav-tabs">
            <li [ngbNavItem]="1">
              <a ngbNavLink>About</a>
              <ng-template ngbNavContent>
                  <h4>Description</h4>
                <p>{{member?.introduction}}</p>
                <h4>Looing For</h4>
                <p>{{member?.lookingFor}}</p>
              </ng-template>
            </li>
            <li [ngbNavItem]="2">
              <a ngbNavLink>Interests</a>
              <ng-template ngbNavContent>
                <p>{{member.intrest}}</p>
              </ng-template>
            </li>
            <li [ngbNavItem]="3">
              <a ngbNavLink>Photos</a>
              <ng-template ngbNavContent>
                <ngx-gallery [options]="galleryOptions" [images]='galleryImages' 
                style="display: inline-block; margin-bottom: 20px; "></ngx-gallery>
              </ng-template>
            </li>
            <li [ngbNavItem]="4">
                <a ngbNavLink>Messages</a>
                <ng-template ngbNavContent>
                  <p>Messages will go from here</p>
                </ng-template>
              </li>
          </ul>
          
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
          
            
    </div>

</div>